<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Must be outside the website; configure on the server, never commit credentials. -->
    <add key="ReportDesk.DataDirectory" value="C:\ReportDeskData" />
    <add key="ReportDesk.MaintenanceAddresses" value="" />
    <add key="ReportDesk.TnsFiles" value="" />
    <add key="ReportDesk.Offline" value="true" />
    <add key="ReportDesk.SyncEnabled" value="false" />
    <add key="ReportDesk.SyncSampleValidated" value="false" />
    <add key="ReportDesk.AllowLoopbackHttp" value="true" />
    <add key="ReportDesk.SyncSeconds" value="30" />
    <add key="ReportDesk.IdleMinutes" value="60" />
    <add key="ReportDesk.MaxConcurrentOperations" value="3" />
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="8192" enableVersionHeader="false" />
    <sessionState mode="Off" />
    <customErrors mode="On" />
  </system.web>
  <system.webServer>
    <handlers>
      <clear />
      <add name="ReportDesk" path="*" verb="*" type="ReportDesk.Web.ReportDeskHandler, ReportDesk.Web" resourceType="Unspecified" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security><requestFiltering><requestLimits maxAllowedContentLength="8388608" /></requestFiltering></security>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
